{% extends 'base.html.twig' %}

{% block title %}Hello BecomeProfessorController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit" class="btn btn-primary">submit</button>
    {{ form_end(form) }}
{% endblock %}
